html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  background-color: rgb(94, 163, 211)
}

.formSheet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

::placeholder {
  font-size: 15px;
  color: rgb(48, 88, 117);
  font-style: italic;
}

.col {
  display: flex;
  flex-direction: column;
}

input, select, textarea {
  margin-bottom: 20px;
  background-color: rgb(94, 163, 211);
  border: 2px solid white;
  transition: border 0.5s;
  outline: 0;
}

:focus {
  border-color: rgb(48, 88, 117);
}

input {
  padding: 10px;
  color: white;
  font-size: 15px;
}

textarea {
  color: white;
  font-size: 15px;
  width: 350px;
  height:150px;
}

label {
  margin-bottom: 3px;
  text-transform: uppercase;
  color: white;
}

select {
  color: white;
  font-size: 14px;
}